{% extends "spinner/base.html" %}
{% block title %}Spin Cycle{% endblock %}
{% block content %}
<h2>Projects</h2>
<a href="{% url 'projectcreate'%}"><button class="btn">Add Project</button></a>
<table id="owners">
  <tr>
    <th>Project ID</th>
    <th>Brand</th>
    <th>Locations</th>
    <th>Pieces Prepared</th>
    <th>Pieces Outlined</th>
    <th>Pieces Generated</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  {% for project in project_list %}
  <tr>
      <td class="stack">{{ project.project_id }}</td>
      <td class="stack">{{ project.brand }}</td>
      <td class="stack">{{ project.locations }}</td>
      <td class="stack">{{ project.num_pieces_prepared }}</td>
      <td class="stack">{{ project.num_pieces_outlined }}</td>
      <td class="stack">{{ project.num_pieces_generated }}</td>
      <td class="stack"><a href="{% url 'project_update_view' project.id %}"><button>Edit</button></a></td>
      <td class="stack"><a href="{% url 'project_delete_view' project.id %}"><button>Delete</button></a></td>
      <td class="stack"><a href="{% url 'project_detail_view' project.id %}"><button>View</button></a></td>
      <td class="stack"><a href="{% url 'piece_inputs_for_project' project.id %}">Add/Edit Pieces</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
