{% extends "spinner/base.html" %}  <!-- Assuming you have a base template named base.html -->

{% block content %}
    <h2>Project Details</h2>

    <ul>
        <li><strong>Project ID:</strong> {{ project.project_id }}</li>
        <li><strong>Brand:</strong> {{ project.brand }}</li>
        <li><strong>Location:</strong> {{ project.location }}</li>
    </ul>

    <h3>Pieces under this Project</h3>
    <ul>
        {% for piece_input in project.pieceinputs_set.all %}
            <li>
                {{ piece_input.piece_name }}
                <a href="{% url 'piece_inputs_detail_view' piece_input.id %}">View Details</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'project_update_view' project.id %}">Edit Project</a> |
    <a href="{% url 'project_delete_view' project.id %}">Delete Project</a>
{% endblock %}
